<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shellfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="intro">
            <img src="{{ url_for('static', filename='images/davee.jpg') }}" alt="Davee Image" class="image-style"></img>
            <div class="desc">
                <h1>Welcome to Vivian Dagbue's Developer Portfolio Shell!</h1>
            </div>
        </div>
        <div id="shell" class="shell">
            <div class="instructions">
                <h3>Explore my Developer journey...</h3>
                <h3>What would you like to know?</h3>
                <div>1. Intro 2. Experience  2. Education </div>        
                <div> 4. Skills 5. Projects 6. Interests</div>
                <div style="padding: 20px 0;" >Choose a number and press Enter:</div>
            </div>
            <div id="output">
            </div>
            <div id="input">
                <span id="prompt">$</span>
                <input type="text" id="command" onkeydown="handleCommand(event)" value="1" autofocus>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
